<% include partials/header %>

<div class="ui main container">
    <div class="ui huge header">RESTful Blog App</div>
    <div class="ui link cards">
        <% blogs.forEach((blog) => { %>
            <div class="card">
                <div class="image">
                    <img src="<%= blog.image %>">
                </div>
                <div class="content">
                    <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                    <div class="description"><%= blog.body.substring(0, 100) + "..." %></div>
                </div>
                <div class="extra content">
                    <a class="right floated meta" href="/blogs/<%= blog._id %>">Read More&nbsp;<i class="right chevron icon"></i></a>
                    <a><i class="save icon"></i>&nbsp;<%= blog.created.toDateString() %></a>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<% include partials/footer %>
